nav {
    background:lightblue;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    height: 10%;
    width:100%;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    text-decoration: none;
}
.Home{
    color: rgb(17, 150, 195);
    font-size: 100%;
    padding: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
   
}


.Login{
    margin-left: 50%;
    color: rgb(17, 150, 195);
    font-size: 100%;
    padding: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}


    img{
        width: 5%;
        height: 10%;
        margin:0.8% 5%;
    }